<!DOCTYPE html>
<html>
<head>
	<title>BENDER TAGS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script>
		window.onload = function(){
			var checks = document.querySelectorAll(".check")
			.forEach(input => input.addEventListener('change', function() {
					if(this.checked) {
							setTag(this.value,1)
					} else {
						setTag(this.value,0)
					}
			}));;
		}

		function setTag(id,val){
			var data = {
					id: id,
					val: val
			};

			fetch("/tag/set",
			{
			method: 'POST',
			body: JSON.stringify(data),
			headers:{
				'Content-Type': 'application/json'
			}
			})
			.then(function(response) {
				return response.json();
			})
			.then(function(data) {
				console.log(data);
			});
		}
		
	</script>
</head>
<body>
	<div class="wrapper">
		<a href="/" class="button">VOLVER</a>
		<div class="table">
			<div class="row header green">
		      <div class="cell">
		        Nombre
		      </div>
		      <div class="cell">
		        Estado
		      </div>
		    </div>
		    {% for tag in result %}
		    <div class="row">
		      <div class="cell" data-title="Nombre">
		        {{ tag.text }}
		      </div>
		      <div class="cell" data-title="Estado">
		        	<label class="switch">
					  <input type="checkbox" class="check" {% if tag.active == 1 %} checked="checked" {% endif %} value="{{ tag._id }}">
					  <span class="slider round"></span>
					</label>
		      </div>
		    </div>
		    {% endfor %}
		</div>
	</div>
</body>
</html>